*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #2B2D42;
    background-color: #EDF2F4;
}

/* Navbar */
li, a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #D90429;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.logo{
    cursor: pointer;
    width: 100px;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a:hover{
    color: #2B2D42;
}

.navbar{
    display: flex;
    align-items: center;
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDF2F4;
    border: solid #D90429 1px;
    border-radius: 30px;
}

.box{
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #EDF2F4;
    border-radius: 30px;
    align-items: center;
}

.box:hover input{
    width: 250px;
}

.box input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}

.box a .fas{
    color: #2B2D42;
    font-size: 16px;
}

/* Dropdown */

.navbar ul li{
    position: relative;
}

.dropdown{
    position: absolute;
    justify-content: center;
}

.dropdown li{
    display: none;
    background-color: #EDF2F4;
    padding-top: 16px;
    padding-bottom: 8px;
}

.dropdown li:hover{
    color: #2B2D42;
}

.navbar li:hover > .dropdown li{
    display: block;
}


/* Hero */
.hero{
    display: block;
    padding-bottom: 32px;
    margin: 0 auto;
}

.hero > .banner-pic{
    width: 100%;
    display: block;
    padding: 0 10%;
}

/* Intro Article */

.tips-tricks{
    width: 700px;
    margin: 0 auto;
}

.headline{
    text-align: center;
    padding-top: 64px;
    font-size: 26px;
    padding-bottom: 16px;
    color: #2B2D42;
    font-weight: 500;
}

.intro-text{
    text-align: center;
    color: #8D99AE;
    margin-bottom: 25px;
}

.underline{
    display: block;
    margin: 0 auto;
    background-color: #EF233C;
    width: 50%;
    height: 2px;
}

/* Tip 1 Artikel */

.tip-1-title{
    text-align: center;
    font-size: 26px;
    color: #2B2D42;
    font-weight: 500;
    margin-bottom: 16px;
}

.tip-1-text{
    text-align: center;
    color: #2B2D42;
}

.tip-1-red{
    text-align: center;
    padding-top: 64px;
    font-size: 26px;
    color: #D90429;
    font-weight: 500;
}



/* Tip 2 Artikel */

.tip-2-title{
    text-align: center;
    font-size: 26px;
    color: #2B2D42;
    font-weight: 500;
    margin-bottom: 16px;
}

.tip-2-text{
    text-align: center;
    color: #2B2D42;
}

.tip-2-red{
    text-align: center;
    padding-top: 64px;
    font-size: 26px;
    color: #D90429;
    font-weight: 500;
}

/* Tip 3 Artikel */

.tip-3-title{
    text-align: center;
    font-size: 26px;
    color: #2B2D42;
    font-weight: 500;
    margin-bottom: 16px;
}

.tip-3-text{
    text-align: center;
    color: #2B2D42;
}

.tip-3-red{
    text-align: center;
    padding-top: 64px;
    font-size: 26px;
    color: #D90429;
    font-weight: 500;
}

/* Tip 4 Artikel */

.tip-4-title{
    text-align: center;
    font-size: 26px;
    color: #2B2D42;
    font-weight: 500;
    margin-bottom: 16px;
}

.tip-4-text{
    text-align: center;
    color: #2B2D42;
}

.tip-4-red{
    text-align: center;
    padding-top: 64px;
    font-size: 26px;
    color: #D90429;
    font-weight: 500;
}

/* Tip 5 Artikel */

.tip-5-title{
    text-align: center;
    font-size: 26px;
    color: #2B2D42;
    font-weight: 500;
    margin-bottom: 16px;
}

.tip-5-text{
    text-align: center;
    color: #2B2D42;
}

.tip-5-red{
    text-align: center;
    padding-top: 64px;
    font-size: 26px;
    color: #D90429;
    font-weight: 500;
}


/* Video */

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    padding-bottom: 64px;
}

.video-title{
    text-align: center;
    font-size: 26px;
    color: #2B2D42;
    font-weight: 500;
    margin-bottom: 16px;
}

.video-text-red{
    color: #D90429;
    text-align: center;
    padding-top: 64px;
    font-size: 26px;
    font-weight: 500;
}

video{
    border: #D90429 solid 1px;
}

/* Læs Også Artikler */

.read-more-title{
    text-align: center;
    padding-top: 64px;
    font-size: 26px;
    padding-bottom: 16px;
    color: #2B2D42;
    font-weight: 500;
}

.read-more-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.read-more-pic{
    width: 300px;
}

.read-more-1-container{
    position: relative;
}

.read-more-1-container h3{
    position: absolute;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: rgb(239, 35, 60);
    background: rgba(239, 35, 60, 0.6);
}

.read-more-1-container  h3 a{
    text-decoration: none;
    color: white;
    background: none;
}

.read-more-2-container{
    position: relative;
}

.read-more-2-container h3{
    position: absolute;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: rgb(239, 35, 60);
    background: rgba(239, 35, 60, 0.6);
}

.read-more-2-container  h3 a{
    text-decoration: none;
    color: white;
    background: none;
}

.read-more-3-container{
    position: relative;
}

.read-more-3-container h3{
    position: absolute;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background: rgb(239, 35, 60);
    background: rgba(239, 35, 60, 0.6);
}

.read-more-3-container  h3 a{
    text-decoration: none;
    color: white;
    background: none;
}


/* Footer */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    text-align: center;
    margin-top: 32px;
}

.footer-logo{
    cursor: pointer;
    width: 100px;
}

i{
    font-size: 25px;
    padding-left: 5px;
    padding-right: 5px;
    color: #EF233C;
}

.so-me-title{
    font-weight: 500;
    color: #2B2D42;
}

.contact p{
    color: #EF233C;
}

.contact-title{
    font-weight: 500;
    color: #2B2D42;
}

.footer-logo-container{
    width: 200px;
}

.so-me{
    width: 200px;
}

.contact{
    width: 200px;
}

/* Responsive */

@media screen and (min-width: 1440px){
    body{
        margin: 0 auto;
        width: 1440px;
    }
}

@media screen and (max-width:1200px){

    .box{
        padding: 5px 15px;
    }

    .box:hover input{
        width: 150px;
    }

    .nav-links li{
        padding: 0 15px;
    }

    .read-more-pic{
        width: 250px;
    }
    .read-more-title{
        font-size: 25px;
    }
}


@media screen and (max-width:1000px){

    .box{
        padding: 2px 10px;
    }

    .box:hover input{
        width: 100px;
    }

    .logo{
        width: 90px;
    }

    .nav-links li{
        padding: 0 5px;
    }
    .nav-links li a{
        font-size: 14px;
    }

    .read-more-pic{
        width: 200px;
    }

    .read-more-title{
        font-size: 20px;
        padding-top: 50px;
    }
    .footer-logo{
        width: 90px;
    }

    .so-me-title{
        font-size: 14px;
    }

    .fa-brands{
        font-size: 20px;
    }

    .contact-title{
        font-size: 14px;
    }

    .contact p{
        font-size: 12px;
    }
    
    .tips-tricks h1{
        font-size: 20px;
        padding-top: 32px;
    }

    .tips-tricks h3{
        font-size: 20px;
    }

    .tips-tricks p{
        font-size: 14px;
    }

    p.tip-1-red{
        font-size: 20px;
    }

    p.tip-2-red{
        font-size: 20px;
    }

    p.tip-3-red{
        font-size: 20px;
    }

    p.tip-4-red{
        font-size: 20px;
    }

    p.tip-5-red{
        font-size: 20px;
    }

    p.video-text-red{
        font-size: 20px;
    }

    article.tips-tricks{
        width:500px
    }

    video{
        width: 500px;
    }
    
}

@media screen and (max-width:770px){
    .search-icon{
        display: none;
    }

    .dropdown li:focus{
        color: #2B2D42;
    }
    
    .navbar li:focus > .dropdown li{
        display: block;
    }

    .logo{
        width: 60px;
    }

    .nav-links li{
        padding: 0 3px;
    }
    .nav-links li a{
        font-size: 14px;
    }

    .read-more-pic{
        width: 150px;
    }
    
    .read-more-1-container h3{
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .read-more-2-container h3{
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .read-more-3-container h3{
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .footer-logo{
        width: 60px;
    }

    .so-me-title{
        font-size: 12px;
    }

    .fa-brands{
        font-size: 15px;
    }

    .contact-title{
        font-size: 12px;
    }

    .contact p{
        font-size: 10px;
    }

    .tips-tricks h1{
        font-size: 16px;
        padding-top: 20px;
    }

    .tips-tricks h3{
        font-size: 16px;
    }

    .tips-tricks p{
        font-size: 12px;
    }

    p.tip-1-red{
        font-size: 16px;
    }

    p.tip-2-red{
        font-size: 16px;
    }

    p.tip-3-red{
        font-size: 16px;
    }

    p.tip-4-red{
        font-size: 16px;
    }

    p.tip-5-red{
        font-size: 16px;
    }

    p.video-text-red{
        font-size: 16px;
    }

    article.tips-tricks{
        width:350px
    }

    video{
        width: 350px;
    }
    
}

@media screen and (max-width:575px){

    .logo{
        width: 40px;
    }

    .nav-links li a{
        font-size: 10px;
    }

    .read-more-title{
        font-size: 13px;
        padding-top: 10px;
    }

    .read-more-pic{
        width: 100px;
    }

    .read-more-1-container h3 a{
        font-size: 10px;
    }

    .read-more-2-container h3 a{
        font-size: 10px;
    }

    .read-more-3-container h3 a{
        font-size: 10px;
    }

    .hero{
        padding-bottom: 16px;
    }

    .footer-logo{
        width: 40px;
    }

    .so-me-title{
        font-size: 10px;
    }

    .fa-brands{
        font-size: 10px;
    }

    .contact-title{
        font-size: 10px;
    }

    .contact p{
        font-size: 7px;
    }
}

@media screen and (max-width:400px){

    .logo{
        width: 30px;
    }

    .nav-links li a{
        font-size: 8px;
    }

    .article-pic{
        width: 75px;
    }

    .read-more-pic{
        width: 75px;
    }

    .read-more-1-container h3{
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .read-more-1-container h3 a{
        font-size: 6px;
    }

    .read-more-2-container h3{
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .read-more-2-container h3 a{
        font-size: 6px;
    }

    .read-more-3-container h3{
        padding-top: 4px;
        padding-bottom: 4px;
    }

    .read-more-3-container h3 a{
        font-size: 6px;
    }

    .hero{
        padding-bottom: 8px;
    }

    .read-more-title{
        font-size: 11px;
        padding-top: 0px;
    }

    .footer-logo{
        width: 30px;
    }

    .so-me-title{
        font-size: 8px;
    }

    .fa-brands{
        font-size: 8px;
    }

    .contact-title{
        font-size: 8px;
    }

    .contact p{
        font-size: 6px;
    }

    .tips-tricks h1{
        font-size: 11px;
    }

    .tips-tricks h3{
        font-size: 11px;
    }

    .tips-tricks p{
        font-size: 9px;
    }

    p.tip-1-red{
        font-size: 11px;
    }

    p.tip-2-red{
        font-size: 11px;
    }

    p.tip-3-red{
        font-size: 11px;
    }

    p.tip-4-red{
        font-size: 11px;
    }

    p.tip-5-red{
        font-size: 11px;
    }

    p.video-text-red{
        font-size: 11px;
    }

    article.tips-tricks{
        width:250px
    }

    video{
        width: 250px;
    }
    
}


